.role-badge,
.project-status-badge,
.ticket-status-badge,
.ticket-priority-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.role-badge {
    &.status-developer {
        background: #B3E5FC;
        color: #23547B;
    }

    &.status-admin {
        background: #ECCFFF;
        color: #694382;
    }

    &.status-project-manager {
        background: #FFD8B2;
        color: #805B36;
    }
}

.project-status-badge {
    &.status-production {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-depreciated {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-development {
        background: #FEEDAF;
        color: #8A5340;
    }
}

.ticket-status-badge {
    &.status-open {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-close {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-in-progress {
        background: #FEEDAF;
        color: #8A5340;
    }
}

.ticket-priority-badge {
    &.status-high {
        background: #FFCDD2;
        color: #C63737;
    }
    &.status-medium {
        background: #FFD8B2;
        color: #805B36;
    }
    &.status-low {
        background: #FEEDAF;
        color: #8A5340;
    }
}
